.tab-container {
}

.tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.tab-links {
    display: flex;
    gap: 16px;
}

.tab-link {
    text-decoration: none;
    color: #497b97;
    font-weight: bold;
}
.tab-link.active {
    border-bottom: 3px solid #276a91;
    color: #0d161c;
}

.register-audit-button {
    background-color: #276a91;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 30px;
}

.register-audit-button:hover {
    background-color: #1d4f6e;
}

.search-container {
    border-top: 2px solid #cbdce6;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Estilo cuando no hay search bar visible */
.search-container.no-search {
    padding-bottom: 0;
}

.search-input-container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #e0eaf0;
    width: 99%;
}
.search-icon {
    display: flex;
    margin: 0px 5px 0px 5px;
}
.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 14px;
    background-color: #e0eaf0;
}
.search-input:focus {
    outline: none;
}