.layout {
    width: 50%;
}

.tipos-cuadro {
    border-radius: 6px;
    background-color: #f1f3f5;
    border: 1px solid #ddd;
    min-height: 200px;
    font-size: 19px;
}

.tipo-item {
    padding: 0.6rem 1rem;
    background-color: #e4e7ea;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.tipo-item input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    color: white;
    outline: none;
}
.tipo-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tipo-item:hover {
    background-color: #d5d8db;
}
.tipo-item.seleccionado {
    background-color: #495057;
    color: #fff;
    font-weight: 500;
}


.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 0.5rem;
}

.btn {
    flex: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
}

.btn.accion {
    background-color: #6c757d;
    color: #fff;
}

.btn.accion:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.btn.crear {
    background-color: #adb5bd;
    color: #fff;
}

.cargando {
    text-align: center;
    color: #666;
    font-style: italic; 
}
    
    