.abonos-container {
  margin: 0px 0px 10px 0px;
}

.abonos-table {
  width: 60%;
  min-width: 400px;
  background-color: #f1f6f8;
  border-collapse: collapse;
  table-layout: auto;
  margin: 0 auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 13px;
}

.abonos-table th,
.abonos-table td {
  padding: 6px 8px;
  text-align: center;
  color: #0d161c;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.abonos-table th {
  font-weight: 600;
  background-color: #e5eef3;
}

.abonos-table tr:nth-child(even) {
  background-color: #eaf3f7;
}

.abonos-table td.vehiculos-cell {
  text-align: left;
  max-width: 150px;
  white-space: normal;
}

.abonos-table td.vehiculos-cell > div {
  margin-bottom: 4px;
}

.abonos-table td.vehiculos-cell span {
  display: inline-block;
  background: #d7e6f0;
  color: #1b3954;
  padding: 2px 6px;
  border-radius: 12px;
  font-weight: 500;
  margin-right: 4px;
  font-size: 12px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.abonos-table td.balance-cell {
  font-weight: 700;
}

.abonos-table td.balance-cell.negative {
  color: #d9534f;
}

.abonos-table td.balance-cell.positive {
  color: #5cb85c;
}

.mensaje-vacio {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  color: #0d161c;
  font-size: 1.2rem;
  margin: 40px 0;
}

.search-cliente-container {
  margin: 10px 0px 10px 0px;
}
.search-cliente-input-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #e0eaf0;
  width: 99%;
}

.search-cliente-icon {
  display: flex;
  margin: 0px 5px 0px 5px;
}

.search-cliente-input {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 14px;
  background-color: #e0eaf0;
}

.search-cliente-input:focus {
  outline: none;
}
