.filtros {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding: 20px 10px 10px 10px;
}

.titleFiltros {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.filtro-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.filtro-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.filtro-select {
    height: 40px;
    padding: 8px;
    border: 2px solid #cbdce6;
    border-radius: 8px;
    background-color: #f8fafc;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filtro-input {
    height: 36px;
    padding: 5px 10px;
    border: 2px solid #cbdce6;
    border-radius: 8px;
    background-color: #f8fafc;
    font-size: 14px;
    color: #333;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.filtro-select:hover {
    border-color: #7aa4c8;
}

.filtro-select:focus {
    border-color: #497b97;
    box-shadow: 0px 0px 5px rgba(73, 123, 151, 0.5);
}

.filtro-fechas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.fecha-item {
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .filtro-fechas {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .fecha-item {
        flex: 1;
    }

    .fecha-item .filtro-input {
        max-width: 120px; /* Esto evita que se desborde en pantallas más chicas */
    }
}

.btn-limpiar {
    background-color: rgb(77, 89, 255);
    border-radius: 5px;
    font-weight: bold;
    opacity: 70%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
