.secret-container {
  font-family: "Segoe UI", Roboto, sans-serif;
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  border: 2px dashed #b33;
  border-radius: 14px;
  background-color: #fffaf9;
  text-align: center;
}

.secret-title {
  color: #8a0f0f;
  font-size: 1.9rem;
  margin-bottom: 15px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0px 25px 0px;
}

.tab,
.tabActive {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #bbb;
  font-weight: 600;
}

.tab {
  background: #eee;
}

.tabActive {
  background: #b1242d;
  border: none;
  color: white;
}

/* Botones */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.secret-btn {
  width: 80%;
  max-width: 360px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #c24141;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}

.secret-btn:hover {
  background: #a02e2e;
}

.deleteAllButton {
  margin-top: 10px;
  background: black;
  border: 2px solid red !important;
}

/* Inputs */
.secret-input {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 15px;
  text-align: center;
}

/* Error */
.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* Result text */
.resultBox {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: pre-wrap;
  font-family: monospace;
}

/* Ticket result card */
.ticketCard {
  margin-top: 25px;
  padding: 20px;
  background: white;
  border-radius: 14px;
  border: 1px solid #ddd;
  text-align: left;
}

.sectionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
  border-left: 5px solid #d42;
  padding-left: 10px;
}

/* Grid de datos */
.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  margin-bottom: 15px;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.itemLabel {
  font-weight: 600;
  color: #444;
}

.itemValue {
  color: #222;
}

/* Historial */
.histCard {
  background: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 10px;
}
