  .caja {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
  }
  
  .table-container {
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: 99%;
    min-height: 400px;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  .transaction-table {
    width: 100%;
    background-color: #f1f6f8;
    border-collapse: collapse;
  }
  
  .transaction-table th,
  .transaction-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #0d161c;
  }
  
  .transaction-table th {
    font-weight: bold;
    background-color: #e5eef3;
  }
  
  .transaction-table tr:nth-child(even) {
    background-color: #eaf3f7;
  }

  
  .paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #ccc;
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333; /* Más contraste en el texto */
  }
  .paginado button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background-color: #dce3e7;
    color: #0d161c;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  .paginado button:hover:not(:disabled) {
    background-color: #c0cbd1;
  }
  .paginado button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  